body{ 
  font-family: sans-serif;
  background-color: #000e1c;
  color: white;
}
.search-box{
  padding:10px;
}
.navbar{
  padding: 10px;
  margin:-10px;
  margin-bottom: 0px;
  border-radius: 0;
  background-color:#1e3144;
  min-height:50px;
}


.loginlogo{ 
  top:25%;
  right:40%;
  height: 420px;
  width: auto;
  position: absolute;
}
/*========================LOGIN BOX=======================*/

.loginbox {
  width: 320px;
  height: 440px;
  padding:20px;
  background: transparent;
  border-style:solid;
  border-radius: 10%;
  border-color: white;
  color: #fdff39;
  top:25%;
  left:65%;
  position: absolute;
  transform: :translate(-50%,-50%);
  box-sizing: border-box;
}

.loginbox h1{
  text-align:center; 
  padding: 10px 0 10px;
}

.loginbox p{
  margin:0;
  padding:0;
  font-weight:bold;
}

.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"],input[type="password"]{
  border:none;
  border-bottom:1px solid #fff;
  background: transparent;
  outline: none;
  height: 48px;
  color: white;
  font-size: 16px;
}

.loginbox input[type="submit"]{
  border:4px solid white;
  border-radius: 20px;
  background: transparent;
  font-size: 20px;
  color: white;
  padding: 5px;
  outline: none;
}

.loginbox input[type="submit"]:hover{
  cursor: pointer;
  background: #FFFFFF;
  color:#000e1c;
}

.loginbox a{
  text-decoration: none;
  color: #fdff39;
  font-size: 12px;
}

.loginbox a:hover{
  color: #FFFFFF;
}
.loginbox input[type="button"]{
  height: 80px;
  width: 100%;
  border:4px solid white;
  margin-bottom:50px;
  border-radius: 80px;
  background: transparent;
  font-size: 40px;
  color: white;
  padding: 5px;
  outline: none;
}

.loginbox input[type="button"]:hover{
  background: #FFFFFF;
  color:#000e1c;
}
/*============================ DAFTAR BOX====================*/

.daftarbox {
  width: 320px;
  height: 550px;
  padding:20px;
  background: transparent;
  border-style:solid;
  border-radius: 10%;
  border-color: white;
  color: #fdff39;
  top:20%;
  left:65%;
  position: absolute;
  transform: :translate(-50%,-50%);
  box-sizing: border-box;
}

.daftarbox h1{
  text-align:center; 
  padding: 10px 0 10px;
}

.daftarbox p{
  margin:0;
  padding:0;
  font-weight:bold;
}

.daftarbox input{
  width: 100%;
  margin-bottom: 20px;
}

.daftarbox input[type="text"],input[type="password"]{
  border:none;
  border-bottom:1px solid #fff;
  background: transparent;
  outline: none;
  height: 48px;
  color: white;
  font-size: 16px;
}

.daftarbox input[type="submit"]{
  border:4px solid white;
  border-radius: 20px;
  background: transparent;
  font-size: 20px;
  color: white;
  padding: 5px;
  outline: none;
}

.daftarbox input[type="submit"]:hover{
  cursor: pointer;
  background: #FFFFFF;
  color:#000e1c;
}

.daftarbox a{
  text-decoration: none;
  color: #fdff39;
  font-size: 12px;
}

.daftarbox a:hover{
  color: #FFFFFF;
}

.avatar{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: absolute;
  top:-70px;
  left: calc(50% - 50px);
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:transparent;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:white;
    color:#000e1c;
}
/*===========================================Slide Show==========================================*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/*.myslides{
  display: none;*/
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; /*Sedikit animas 0.6 detik waktu warnanya berubah*/
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*=====================================ISI================================*/

.isi{
  position: absolute;
  left:25%;
  right:25%;
  width: 50%;
  /*height: 200px;*/
}

.isi a{
  color: white;
}
.isi img{
  width: 200px;
  height: 200px;
  justify-content: center;
}

.isi table{
  font-family: sans-serif;
  color: #fdff39;
  border-collapse: collapse;
}

.isi #tableisi td , th{
  padding:20px;
  border-top:0px;
  border-right: 0px;
  border-left:0px;
  border-bottom: 1px solid white;
}

.isiprofile{
  margin:0;
  padding:0;
}

#bio{
  border:1px solid white;
  border-radius: 10px;
  padding:20px;
}
  
.isigantiprofile{
  position: absolute;
  left:25%;
  right:25%;
  width: 50%;
}

#tableganti input[type="text"]{
  height: 50px;
  width: 250px;

}#tableganti input[type="text"]:focus{
  border:1px solid white;
  box-shadow: 0 0 10px #fdff39;
}

#tableganti tr,td{
  width:100px;
  color: #fdff39;
  padding: 10px;
}

/*.inputgantiprofile{
  border:1px solid white;
  background: transparent;
}
*/


.navbar-brand {
  padding-left:10px;
  padding-top:10px;
  height: 70px;
  line-height: 80px;
}

.navbar-right{
  padding-top: 20px;
  padding-right: 40px;
}


footer {
  background-color: #f2f2f2;
  padding: 25px;
}